{% extends 'knp_menu.html.twig' %}
{#{% import 'knp_menu.html.twig' as macros %}#}

{#{% block linkElement %}#}
    {#{% import "knp_menu.html.twig" as macros %}#}
    {#<a href="{{ item.uri }}"{{ macros.attributes(item.linkAttributes) }}>#}
        {#{% if item.getExtra('icon') %}#}
            {#{{ icon(item.getExtra('icon')) }}#}
        {#{% endif %}#}
        {#<span>{{ block('label') }}</span>#}
    {#</a>#}
{#{% endblock %}#}
